
<!DOCTYPE>
<head></head>

<body>
<h1>Área de login do gestor.</h1>

<h3>Gestor</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :lembrar_me %>
    </div><br>
    
    <%- if controller_name != 'sessions' %>
  <%= link_to "Logar", new_session_path(resource_name) %><br />
<% end -%>
    
  <% end -%>
  
  <%= render "gestors/shared/links" %>


<% end %>

</body>
