<h2>Área de login do administrador</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :senha %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :lembrar_me %>
    </div>
  <% end -%>

  <%= render "admins/shared/links" %>

 <p class="navbar-text pull-right">
 <% if admin_signed_in? %>
   Logado como: <strong><%= current_user.email %></strong>.
   <%= link_to 'Editar perfil', edit_admin_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Registrar-se", new_admin_registration_path, :class => 'navbar-link'  %>  |
        <%= link_to "Registrar novo gestor", new_gestor_registration_path, :class => 'navbar-link'  %>

    <div class="actions">
    <%= f.submit "LOGAR" %>
  </div>
  <% end %>

<% end %>


