<p id="notice"><%= notice %></p>

<p>
  <strong>Fornecedor:</strong>
  <%= @chamado.fornecedor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @chamado.cliente %>
</p>

<p>
  <strong>Site:</strong>
  <%= @chamado.site %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @chamado.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @chamado.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @chamado.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @chamado.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @chamado.estado %>
</p>

<p>
  <strong>Técnico responsável:</strong>
  <%= @chamado.tecnico %>
</p>

<p>
  <strong>Data do chamado:</strong>
  <%= @chamado.data %>
</p>

<p>
  <strong>Número do local:</strong>
  <%= @chamado.numero %>
</p>

<p>
  <strong>Número fornecedor:</strong>
  <%= @chamado.nfornecedor %>
</p>

<p>
  <strong>Número cliente:</strong>
  <%= @chamado.ncliente %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @chamado.observacao %>
</p>

<%= link_to 'Edit', edit_chamado_path(@chamado) %> |
<%= link_to 'Back', chamados_path %>
