<p id="notice"><%= notice %></p>

<p>
  <strong>Fornecedor:</strong>
  <%= @chamado.fornecedor %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @chamado.cliente %>
</p>

<p>
  <strong>Site:</strong>
  <%= @chamado.site %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @chamado.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @chamado.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @chamado.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @chamado.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @chamado.estado %>
</p>

<p>
  <strong>Tecnico:</strong>
  <%= @chamado.tecnico %>
</p>

<p>
  <strong>Data:</strong>
  <%= @chamado.data %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @chamado.numero %>
</p>

<p>
  <strong>Nfornecedor:</strong>
  <%= @chamado.nfornecedor %>
</p>

<p>
  <strong>Ncliente:</strong>
  <%= @chamado.ncliente %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @chamado.observacao %>
</p>

<%= link_to 'Edit', edit_chamado_path(@chamado) %> |
<%= link_to 'Back', chamados_path %>
