<!DOCTYPE html>

<html lang="pt-br">

	<head>
		<meta charset="utf-8">
		<title>Kanri ERP</title>
		<%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
       
	</head>
		
	<body>
		<nav class="navbar navbar-light">
  			<div class="container-fluid">
  				<div class="navbar-header">
   					<%= image_tag 'icon/Logo.png' %>
   				</div>
   		 		<ul class="nav navbar-nav">
   		 			<li><%= link_to 'KanriERP'%></li>
   			   		<li><%= link_to 'HOME', root_path, class:"nav-link" %></li>
  				</ul>
  				<%= yield %>
 			</div>
 			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</nav>
	</body>
		
</html>
