<!DOCTYPE html>

<html lang="pt-br">

	<head>
		<meta charset="utf-8">
		<title>Kanri ERP</title>
		<%= csrf_meta_tags %>
	    <%= csp_meta_tag %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <style>
        	li{
        		display:inline;
        		text-decoration:none;
        		margin: 0 0.5%;
        	}
        	ul{
        		padding:0;
        	}
        	div{
        		/*border:1px solid #000;*/
        	}
        </style>
	</head>
		
	<body>
		<%= image_tag 'icon/Logo.png' %>
		
		<h1>Bem vindo ao Kanri ERP</h1>
		
		<div class="container-fluid">
			<ul class="nav justify-content-end">
				<li>
					<%= link_to 'HOME', root_path, class:"nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'PT', root_path(locale: 'pt-BR'), class:"nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to 'EN', root_path(locale: 'en'), class:"nav-link" %>
				</li>
			</ul>
		<%= yield %>
		</div>

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

	</body>
		
</html>
